@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


/* Dark Input */
input[type="text"],
input[type="email"],
input[type="password"],
select, textarea {
    @apply bg-zinc-800 text-white border border-zinc-700 focus:border-emerald-500 focus:ring-emerald-500 rounded-lg;
}

/* Dark Labels */
label {
    @apply text-zinc-300;
}

/* Dark Card */
.auth-card {
    @apply bg-zinc-900 border border-zinc-800 shadow-xl rounded-xl p-8;
}

/* Links */
.auth-link {
    @apply text-zinc-400 hover:text-white underline;
}

/* Buttons */
.auth-button {
    @apply bg-emerald-600 hover:bg-emerald-700 text-white font-semibold px-4 py-2 rounded-lg;
}